[Unit]
Description=Spotify Pi Display — Chromium Kiosk
After=graphical.target network-online.target spotify-display.service
Wants=network-online.target spotify-display.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=admin
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/admin/.Xauthority
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStartPre=/bin/sleep 8
ExecStart=/usr/bin/chromium \
    --no-first-run \
    --noerrdialogs \
    --disable-infobars \
    --disable-session-crashed-bubble \
    --disable-restore-session-state \
    --disable-pinch \
    --disable-renderer-accessibility \
    --disable-gpu-rasterization \
    --disable-zero-copy \
    --disable-accelerated-2d-canvas \
    --kiosk \
    --incognito \
    --disable-translate \
    --disable-features=TranslateUI \
    --password-store=basic \
    --overscroll-history-navigation=0 \
    --disk-cache-size=48000000 \
    --window-size=1080,1080 \
    --window-position=0,0 \
    --ozone-platform=wayland \
    http://localhost:5000
Restart=always
RestartSec=10

[Install]
WantedBy=graphical.target
